-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "sigma_la";

-- CreateTable
CREATE TABLE "sigma_la"."cliente" (
    "cuil" TEXT NOT NULL,
    "razon_social" VARCHAR(50),
    "telefono" VARCHAR(20) NOT NULL,
    "mail" VARCHAR(100) NOT NULL,
    "apellido" VARCHAR(50),
    "nombre" VARCHAR(50),
    "sexo" VARCHAR(20),
    "tipo_cliente" VARCHAR(50) NOT NULL,

    CONSTRAINT "cliente_pkey" PRIMARY KEY ("cuil")
);

-- CreateTable
CREATE TABLE "sigma_la"."empleado" (
    "cuil" TEXT NOT NULL,
    "nombre" VARCHAR(50) NOT NULL,
    "apellido" VARCHAR(50) NOT NULL,
    "rol_actual" VARCHAR(50) NOT NULL,
    "area_trabajo" VARCHAR(50) NOT NULL,
    "contrasenia" VARCHAR(255),
    "refreshTokenHash" VARCHAR(255),
    "activo" BOOLEAN NOT NULL DEFAULT true,

    CONSTRAINT "empleado_pkey" PRIMARY KEY ("cuil")
);

-- CreateTable
CREATE TABLE "sigma_la"."empleado_visita" (
    "cuil" TEXT NOT NULL,
    "cod_visita" INTEGER NOT NULL,

    CONSTRAINT "empleado_visita_pkey" PRIMARY KEY ("cuil","cod_visita")
);

-- CreateTable
CREATE TABLE "sigma_la"."entrega" (
    "cod_obra" INTEGER NOT NULL,
    "fecha_hora_entrega" TIMESTAMP(6) NOT NULL,
    "estado" VARCHAR(50) NOT NULL,
    "observaciones" VARCHAR(500),
    "detalle" VARCHAR(50) NOT NULL,
    "cod_entrega" SERIAL NOT NULL,
    "dias_viaticos" INTEGER,
    "fecha_cancelacion" DATE,
    "cod_op" INTEGER,

    CONSTRAINT "entrega_pkey" PRIMARY KEY ("cod_entrega")
);

-- CreateTable
CREATE TABLE "sigma_la"."entrega_empleado" (
    "cuil" TEXT NOT NULL,
    "cod_obra" INTEGER NOT NULL,
    "cod_entrega" INTEGER NOT NULL,
    "rol_entrega" VARCHAR(20) NOT NULL,

    CONSTRAINT "entrega_empleado_pkey" PRIMARY KEY ("cod_entrega","cuil")
);

-- CreateTable
CREATE TABLE "sigma_la"."localidad" (
    "nombre_localidad" VARCHAR(255) NOT NULL,
    "cod_localidad" SERIAL NOT NULL,
    "cod_provincia" INTEGER NOT NULL,

    CONSTRAINT "localidad_pkey" PRIMARY KEY ("cod_localidad")
);

-- CreateTable
CREATE TABLE "sigma_la"."maquinaria" (
    "cod_maquina" SERIAL NOT NULL,
    "descripcion" VARCHAR(255) NOT NULL,
    "estado" VARCHAR(50) NOT NULL,

    CONSTRAINT "maquinaria_pkey" PRIMARY KEY ("cod_maquina")
);

-- CreateTable
CREATE TABLE "sigma_la"."obra" (
    "cod_obra" SERIAL NOT NULL,
    "cuil" TEXT NOT NULL,
    "fecha_ini" DATE NOT NULL,
    "estado" VARCHAR(50) NOT NULL,
    "fecha_cancelacion" DATE,
    "direccion" VARCHAR(500) NOT NULL,
    "nota_fabrica" VARCHAR(255),
    "nota_fabrica_pid" VARCHAR(255),
    "cod_localidad" INTEGER NOT NULL,

    CONSTRAINT "obra_pkey" PRIMARY KEY ("cod_obra")
);

-- CreateTable
CREATE TABLE "sigma_la"."orden_de_produccion" (
    "cod_obra" INTEGER NOT NULL,
    "fecha_confeccion" DATE NOT NULL,
    "fecha_validacion" DATE,
    "url" VARCHAR(255) NOT NULL,
    "cod_op" SERIAL NOT NULL,
    "public_id" VARCHAR(255),
    "estado" VARCHAR(255) NOT NULL DEFAULT 'PENDIENTE',

    CONSTRAINT "orden_de_produccion_pkey" PRIMARY KEY ("cod_op")
);

-- CreateTable
CREATE TABLE "sigma_la"."pago" (
    "fecha_pago" DATE NOT NULL,
    "cod_obra" INTEGER NOT NULL,
    "monto" DOUBLE PRECISION NOT NULL,
    "cod_pago" SERIAL NOT NULL,

    CONSTRAINT "pago_pkey" PRIMARY KEY ("cod_pago")
);

-- CreateTable
CREATE TABLE "sigma_la"."parametro" (
    "fecha_cambio" DATE NOT NULL,
    "hora_cambio" TIME(6) NOT NULL,
    "dias_vigencia_presu" INTEGER NOT NULL,
    "viatico_dia_persona" DOUBLE PRECISION,
    "cod_parametro" SERIAL NOT NULL,

    CONSTRAINT "parametro_pkey" PRIMARY KEY ("cod_parametro")
);

-- CreateTable
CREATE TABLE "sigma_la"."presupuesto" (
    "fecha_emision" DATE NOT NULL,
    "cod_obra" INTEGER NOT NULL,
    "fecha_aceptacion" DATE,
    "valor" DOUBLE PRECISION NOT NULL,
    "nro_presupuesto" SERIAL NOT NULL,

    CONSTRAINT "presupuesto_pkey" PRIMARY KEY ("nro_presupuesto")
);

-- CreateTable
CREATE TABLE "sigma_la"."provincia" (
    "cod_provincia" INTEGER NOT NULL,
    "nombre" VARCHAR(30) NOT NULL,

    CONSTRAINT "provincia_pkey" PRIMARY KEY ("cod_provincia")
);

-- CreateTable
CREATE TABLE "sigma_la"."uso_maquinaria" (
    "cod_maquina" INTEGER NOT NULL,
    "fecha_hora_ini_uso" TIMESTAMP(6) NOT NULL,
    "fecha_hora_fin_est" TIMESTAMP(6) NOT NULL,
    "fecha_hora_fin_real" TIMESTAMP(6),
    "cod_entrega" INTEGER NOT NULL,
    "obraCod_obra" INTEGER,

    CONSTRAINT "uso_maquinaria_pkey" PRIMARY KEY ("cod_maquina","cod_entrega")
);

-- CreateTable
CREATE TABLE "sigma_la"."uso_vehiculo_entrega" (
    "patente" VARCHAR(10) NOT NULL,
    "fecha_hora_ini_uso" TIMESTAMP(6) NOT NULL,
    "fecha_hora_fin_real" TIMESTAMP(6),
    "cod_entrega" INTEGER NOT NULL,
    "obraCod_obra" INTEGER,
    "fecha_hora_ini_est" TIMESTAMP(6) NOT NULL,

    CONSTRAINT "uso_vehiculo_entrega_pkey" PRIMARY KEY ("patente","cod_entrega")
);

-- CreateTable
CREATE TABLE "sigma_la"."uso_vehiculo_visita" (
    "patente" VARCHAR(10) NOT NULL,
    "fecha_hora_ini_uso" TIMESTAMP(6) NOT NULL,
    "fecha_hora_fin_est" TIMESTAMP(6) NOT NULL,
    "fecha_hora_fin_real" TIMESTAMP(6),
    "cod_visita" INTEGER NOT NULL,

    CONSTRAINT "uso_vehiculo_visita_pkey" PRIMARY KEY ("patente","cod_visita")
);

-- CreateTable
CREATE TABLE "sigma_la"."vehiculo" (
    "patente" VARCHAR(10) NOT NULL,
    "tipo_vehiculo" VARCHAR(50) NOT NULL,
    "estado" VARCHAR(50) NOT NULL,
    "anio" INTEGER,
    "marca" VARCHAR(50),
    "modelo" VARCHAR(50),

    CONSTRAINT "vehiculo_pkey" PRIMARY KEY ("patente")
);

-- CreateTable
CREATE TABLE "sigma_la"."visita" (
    "fecha_hora_visita" TIMESTAMP(6) NOT NULL,
    "cod_obra" INTEGER,
    "fecha_cancelacion" DATE,
    "observaciones" VARCHAR(500),
    "motivo_visita" VARCHAR(50) NOT NULL,
    "estado" VARCHAR(50) NOT NULL,
    "direccion_visita" VARCHAR(500),
    "cod_visita" SERIAL NOT NULL,
    "apellido_cliente" VARCHAR(50),
    "cod_localidad" INTEGER,
    "dias_viatico" INTEGER,
    "nombre_cliente" VARCHAR(50),
    "telefono_cliente" VARCHAR(20),

    CONSTRAINT "visita_pkey" PRIMARY KEY ("cod_visita")
);

-- CreateIndex
CREATE UNIQUE INDEX "entrega_cod_op_key" ON "sigma_la"."entrega"("cod_op" ASC);

-- CreateIndex
CREATE INDEX "visita_cod_localidad_idx" ON "sigma_la"."visita"("cod_localidad" ASC);

-- CreateIndex
CREATE INDEX "visita_cod_obra_idx" ON "sigma_la"."visita"("cod_obra" ASC);

-- CreateIndex
CREATE INDEX "visita_fecha_hora_visita_idx" ON "sigma_la"."visita"("fecha_hora_visita" ASC);

-- AddForeignKey
ALTER TABLE "sigma_la"."empleado_visita" ADD CONSTRAINT "empleado_visita_cod_visita_fkey" FOREIGN KEY ("cod_visita") REFERENCES "sigma_la"."visita"("cod_visita") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "sigma_la"."empleado_visita" ADD CONSTRAINT "empleado_visita_cuil_fkey" FOREIGN KEY ("cuil") REFERENCES "sigma_la"."empleado"("cuil") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "sigma_la"."entrega" ADD CONSTRAINT "entrega_cod_obra_fkey" FOREIGN KEY ("cod_obra") REFERENCES "sigma_la"."obra"("cod_obra") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "sigma_la"."entrega" ADD CONSTRAINT "entrega_cod_op_fkey" FOREIGN KEY ("cod_op") REFERENCES "sigma_la"."orden_de_produccion"("cod_op") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "sigma_la"."entrega_empleado" ADD CONSTRAINT "entrega_empleado_cod_entrega_fkey" FOREIGN KEY ("cod_entrega") REFERENCES "sigma_la"."entrega"("cod_entrega") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "sigma_la"."entrega_empleado" ADD CONSTRAINT "entrega_empleado_cod_obra_fkey" FOREIGN KEY ("cod_obra") REFERENCES "sigma_la"."obra"("cod_obra") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "sigma_la"."entrega_empleado" ADD CONSTRAINT "entrega_empleado_cuil_fkey" FOREIGN KEY ("cuil") REFERENCES "sigma_la"."empleado"("cuil") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "sigma_la"."localidad" ADD CONSTRAINT "localidad_cod_provincia_fkey" FOREIGN KEY ("cod_provincia") REFERENCES "sigma_la"."provincia"("cod_provincia") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "sigma_la"."obra" ADD CONSTRAINT "obra_cod_localidad_fkey" FOREIGN KEY ("cod_localidad") REFERENCES "sigma_la"."localidad"("cod_localidad") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "sigma_la"."obra" ADD CONSTRAINT "obra_cuil_fkey" FOREIGN KEY ("cuil") REFERENCES "sigma_la"."cliente"("cuil") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "sigma_la"."orden_de_produccion" ADD CONSTRAINT "orden_de_produccion_cod_obra_fkey" FOREIGN KEY ("cod_obra") REFERENCES "sigma_la"."obra"("cod_obra") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "sigma_la"."pago" ADD CONSTRAINT "pago_cod_obra_fkey" FOREIGN KEY ("cod_obra") REFERENCES "sigma_la"."obra"("cod_obra") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "sigma_la"."presupuesto" ADD CONSTRAINT "presupuesto_cod_obra_fkey" FOREIGN KEY ("cod_obra") REFERENCES "sigma_la"."obra"("cod_obra") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "sigma_la"."uso_maquinaria" ADD CONSTRAINT "uso_maquinaria_cod_entrega_fkey" FOREIGN KEY ("cod_entrega") REFERENCES "sigma_la"."entrega"("cod_entrega") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "sigma_la"."uso_maquinaria" ADD CONSTRAINT "uso_maquinaria_cod_maquina_fkey" FOREIGN KEY ("cod_maquina") REFERENCES "sigma_la"."maquinaria"("cod_maquina") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "sigma_la"."uso_maquinaria" ADD CONSTRAINT "uso_maquinaria_obraCod_obra_fkey" FOREIGN KEY ("obraCod_obra") REFERENCES "sigma_la"."obra"("cod_obra") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "sigma_la"."uso_vehiculo_entrega" ADD CONSTRAINT "uso_vehiculo_entrega_cod_entrega_fkey" FOREIGN KEY ("cod_entrega") REFERENCES "sigma_la"."entrega"("cod_entrega") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "sigma_la"."uso_vehiculo_entrega" ADD CONSTRAINT "uso_vehiculo_entrega_obraCod_obra_fkey" FOREIGN KEY ("obraCod_obra") REFERENCES "sigma_la"."obra"("cod_obra") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "sigma_la"."uso_vehiculo_entrega" ADD CONSTRAINT "uso_vehiculo_entrega_patente_fkey" FOREIGN KEY ("patente") REFERENCES "sigma_la"."vehiculo"("patente") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "sigma_la"."uso_vehiculo_visita" ADD CONSTRAINT "uso_vehiculo_visita_cod_visita_fkey" FOREIGN KEY ("cod_visita") REFERENCES "sigma_la"."visita"("cod_visita") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "sigma_la"."uso_vehiculo_visita" ADD CONSTRAINT "uso_vehiculo_visita_patente_fkey" FOREIGN KEY ("patente") REFERENCES "sigma_la"."vehiculo"("patente") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "sigma_la"."visita" ADD CONSTRAINT "visita_cod_localidad_fkey" FOREIGN KEY ("cod_localidad") REFERENCES "sigma_la"."localidad"("cod_localidad") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "sigma_la"."visita" ADD CONSTRAINT "visita_cod_obra_fkey" FOREIGN KEY ("cod_obra") REFERENCES "sigma_la"."obra"("cod_obra") ON DELETE NO ACTION ON UPDATE NO ACTION;

